@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/**
 * Basic Reseting code   
**/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: poppins !important;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}
ul {
  margin-bottom: 0px;
}

/**
 * Create custom css property
**/
:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-tertiary: #e4e6eb;
  --bg-fortiary: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --blue-color: #1876f2;
  --blue-color-hover: #166fe5;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-1: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}

/**
Components
*/


.all-students-data img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}